@{
    ViewData["Title"] = "Sacrament Planner";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Sacrament Meeting Planner</h2>
        <p>
            Sacrament Meeting Planner is a application to plan
            all sacrament schedule and program for many weeks.
            You can plan dates, condutors, hymns and speakers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>A Sacrament is a special week meeting time.</h2>
        <p>Plan to have a inspirational sacrament meeting. A sacrament meeting well planned invite the reverence.</p>
        <p><a class="btn btn-default" href="https://www.lds.org/general-conference/2008/10/sacrament-meeting-and-the-sacrament?lang=eng">More about sacrament meeting &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Choose appropiate hymns.</h2>
    </div>
    <p>Plan sacrament meeting with appropiate hymns and songs related to speakers subjects.</p>
    <p><a class="btn btn-default" href="https://www.lds.org/music/library/hymns?lang=eng&_r=1">Hymns site &raquo;</a></p>
</div>